section {
    width: 80%;
    height: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
}

i {
    margin-left: 240px;
}

p {
  font-family: "Julius Sans One", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 500%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5px;
  font-weight: bold;
}

a {
  font-family: "Julius Sans One", sans-serif;
  font-size: 15px;
  margin-top: 15px;
}

.redHeart {
  color: red;
}
