<!-- <h1>Recipe List</h1> -->
<section>
  <div *ngFor="let recipe of recipeData; index as i">
    <div class="heart">
      <p class="title">{{ recipe.recipe.label }}</p>
      <i (click)="addToFavorites(recipe)" class="material-icons">favorite</i>
    </div>
    <!-- <recipe [recipe]="recipe" (onFavoriteRecipe)="favoriteRecipe($event)">
  </recipe> -->
    <img (click)="toggleRecipe(i)" src="{{ recipe.recipe.image }}" alt="" />
    <!-- <p>{{ recipe.recipe.label }}</p> -->
    <div *ngIf="recipe.shouldBeVisible">
      <p>Calories: {{ recipe.recipe.calories | number: "1.0-0" }}</p>
      <p>Ingredients:</p>
      <ul>
        <li *ngFor="let ingredient of recipe.recipe.ingredientLines">
          {{ ingredient }}
        </li>
      </ul>
      <!-- <ul>
      <li>{{}}</li>
    </ul> -->
      <p>Dietary Restrictions:</p>
      <p>{{ recipe.recipe.healthLabels[0] }}</p>
      <p>{{ recipe.recipe.healthLabels[1] }}</p>
      <p>{{ recipe.recipe.healthLabels[2] }}</p>
      <p>{{ recipe.recipe.healthLabels[3] }}</p>

      <!-- <a href="{{ recipe.recipe.url }}">Link to Recipe</a> -->

      <!-- <img src="{{ recipe.recipe.image }}" alt="" /> -->
    </div>
    <a href="{{ recipe.recipe.url }}">Get Full Recipe Here!</a>
  </div>
</section>
