section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;

}

img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
  
}

p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: 500%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 5px;
    font-weight: bold;

}