
section{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
  
}

p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: 500%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 5px;
    font-weight: bold;
}

<<<<<<< HEAD
=======
a {
    font-family: "Julius Sans One", sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

.label {
    font-size: 25px;
}

i {
    margin-left: 200px;

>>>>>>> master
}

.popup {
    position: absolute;
    background-color: lightgrey;
    box-shadow: 5px 5px 5px grey;
    height: 400px;
    width: 400px;
}