<!-- <h1>Favorite List</h1>
<div
    *ngFor="let recipe of recipeData; index as i"
    [recipe]="recipe"
   (onFavoriteRecipe)="favoriteRecipe($event)">
   <img src="{{ recipe.recipe.image }}" alt="" />
   <p>{{ recipe.recipe.label }}</p>
   <p>Dietary Restrictions:</p>
   <p>{{ recipe.recipe.healthLabels[0] }}</p>
   <p>{{ recipe.recipe.healthLabels[1] }}</p>
   <p>{{ recipe.recipe.healthLabels[2] }}</p>
   <p>{{ recipe.recipe.healthLabels[3] }}</p>
  </div> -->
  <div *ngFor="let favorite of favoriteRecipe">
    <p>{{ favorite }}</p>
  </div>