<section>
  <div *ngFor="let favorite of favoriteRecipe; index as i">
    <!-- <recipe [recipe]="recipe" (onFavoriteRecipe)="favoriteRecipe($event)">
    </recipe> -->
    <p class="label">{{ favorite.recipe.label }}</p>
    <i (click)="deleteFromFavorites(i)" class="material-icons">favorite</i>
    <img (click)="toggleFavorite(i)" src="{{ favorite.recipe.image }}" alt="" />

    <div class="popup" *ngIf="favorite.shouldBeVisible">
      <p class="label">{{ favorite.recipe.label }}</p>

      <div *ngIf="favorite.shouldBeVisible">
        <p>Calories: {{ favorite.recipe.calories | number: "1.0-0" }}</p>
        <p>Ingredients:</p>
        <ul>
          <li *ngFor="let ingredient of favorite.recipe.ingredientLines">
            {{ ingredient }}
          </li>
        </ul>
        <p>Dietary Restrictions:</p>
        <p>{{ favorite.recipe.healthLabels[0] }}</p>
        <p>{{ favorite.recipe.healthLabels[1] }}</p>
        <p>{{ favorite.recipe.healthLabels[2] }}</p>
        <p>{{ favorite.recipe.healthLabels[3] }}</p>
        <a href="{{ favorite.recipe.url }}">Get the full reciepe here!</a>
      </div>
    </div>
  </div>
</section>
<!-- <div *ngFor="let favorite of favoriteRecipe">
  <p>{{ favorite.recipe.label }}</p>
  <img src="{{ favorite.recipe.image }}" alt="" />
  <div *ngIf="recipe.shouldBeVisible"></div>
</div> -->
