<section>
  <div class="gif">
    Video coming soon
  </div>
</section>

<section>
  <form #recipeForm="ngForm" (ngSubmit)="searchRecipe(recipeForm, index)">
    <label for="">Search Recipe: </label>
    <input class="recipe" type="text" ngModel name="searchTerm" />
    <div class="input">
      <label for="">Calories From:</label>
      <input class="min" type="text" ngModel name="caloriesMin" />
      <label for="">To:</label>
      <input class="max" type="text" ngModel name="caloriesMax" />
      <label for="">Diet: </label>
      <select class="diet" name="diet" id="" ngModel>
        <option value="balanced">Balanced</option>
        <option value="high-fiber">High-Fiber</option>
        <option value="high-protein">High-Protein</option>
        <option value="low-carb">Low-Carb</option>
        <option value="low-fat">Low-Fat</option>
        <option value="low-sodium">Low-Sodium</option>
      </select>
    </div>
    <button>Search</button>
  </form>
</section>

<recipe-list [recipeData]="recipeData"></recipe-list>
