<link href="https://fonts.googleapis.com/css?family=Abel|Julius+Sans+One|Lobster+Two&display=swap" rel="stylesheet">

<header>
        <a href="" class="logo">Mitchual</a>
    <nav>
        <a href="" class="home">Home</a>
        <a href="" class="favorites">Favorites</a>
    </nav>
</header>






<!-- <form #recipeForm="ngForm" (ngSubmit)="searchRecipe(recipeForm)">
  <label for="">Search Recipe: </label>
  <input type="text" ngModel name="searchTerm" />
  <button>Search Recipe</button>
</form>
 -->
