<link
  href="https://fonts.googleapis.com/css?family=Abel|Julius+Sans+One|Lobster+Two&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<header>
  <a routerLink="/home" class="logo">Mitchual</a>
  <nav>
    <a routerLink="/home" class="home" routerLinkActive="active">Home</a>
    <a routerLink="/favorites" routerLinkActive="active" class="favorites"
      >Favorites</a
    >
  </nav>
</header>

<router-outlet></router-outlet>

<!-- <search-criteria></search-criteria> -->
